body {
  padding: 0 1.5rem;
}

.ModalWindow {
  position: fixed;
  left: 0;
  bottom: 0;
  overflow: hidden;
  height: 110vh;
  width: 100vw;
  max-height: 100%;
  overflow: hidden;
}

.ModalWindow__backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.4;
}

.ModalWindow__content {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 90vh;
  width: 100%;
  box-sizing: border-box;
  padding: 0 1.5rem;
  background-color: #FFF;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.OperationBar,
.ModalWindow__header {
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
  color: gray;
  margin: 1rem 0;
}

.DateRow {
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.OperationRow {
  margin-bottom: 2rem;
  display: flex;
}

.OperationRow__avatar {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}

.OperationRow__textblock {
  padding-left: 1rem;
  width: auto;
  flex: auto;
}

.OperationRow__header {
  font-weight: 600;
  font-size: 1.2rem; 
}

.OperationRow__category {
  color: #5f5f5f;
}

.OperationRow__cost {
  font-weight: 400;
}

.OperationRow__header,
.OperationRow__category {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.3rem;
}