body {
  padding: 0 2rem;
}

.DateRow {
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.OperationRow {
  margin-bottom: 2rem;
  display: flex;
}

.OperationRow__avatar {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}

.OperationRow__textblock {
  padding-left: 1rem;
  width: auto;
  flex: auto;
}

.OperationRow__header {
  font-weight: 700;
  font-size: 1.2rem; 
}

.OperationRow__header,
.OperationRow__category {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.3rem;
}